.itemWrapper {
  width: 90%;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  flex-shrink: 0;
}

.itemWrapper .item {

}
